/* Container chính */
.lichthi-container {
    width: 100%
}

/* Lưới form 2 cột */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    margin-bottom: 25px;
}

/* Input + Label */
.form-group label {
    font-weight: 600;
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 15px;
}

/* Bảng */
.table-lichthi {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.table-lichthi th {
    background: #0d47a1;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.table-lichthi td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Button group */
.btn-group {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
}

.btn {
    padding: 12px 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.btn-add { background: #0b3b92; }
.btn-update { background: #0b3b92; }
.btn-delete { background: #0b3b92; }
.btn-publish { background: #0b3b92; }

.btn:hover {
    opacity: 0.9;
}
