<div class="score-container">
  <h2 class="title">
    <i class="fa fa-bar-chart"></i> QUẢN LÝ ĐIỂM
  </h2>

  <table class="table-score">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã LHP</th>
        <th>Môn học</th>
        <th>TC</th>
        <th>Học kỳ</th>
        <th>Sĩ số</th>
        <th>Trạng thái sổ</th>
        <th>Số điểm</th>
        <th>Thao tác</th>
      </tr>
    </thead>
   <tbody id="lhp-tbody">
      <tr><td colspan="9" style="text-align:center;">Đang tải...</td></tr>
    </tbody>
  </table>
</div>


